---
import Header from '../components/Header.astro';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

---
<Layout title="Mathi's Portfolio">
  <main>
    <Header />
    <Welcome />
  </main>
</Layout>