---

---
<section id='contact'>
  <h2>Contact Me</h2>
  <div class='contacts'>
    <div class='contact'>
      <h3>Email</h3>
      <div class='contact-info'>
        <div class='contact-logo'>
          <svg width="39" height="31" viewBox="0 0 39 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 7.78571L17.3417 17.93C17.9807 18.3529 18.7318 18.5786 19.5 18.5786C20.2682 18.5786 21.0193 18.3529 21.6583 17.93L37 7.78571M5.88889 29H33.1111C34.1425 29 35.1317 28.5936 35.861 27.8703C36.5903 27.1469 37 26.1658 37 25.1429V5.85714C37 4.83417 36.5903 3.85309 35.861 3.12973C35.1317 2.40638 34.1425 2 33.1111 2H5.88889C4.85749 2 3.86834 2.40638 3.13903 3.12973C2.40972 3.85309 2 4.83417 2 5.85714V25.1429C2 26.1658 2.40972 27.1469 3.13903 27.8703C3.86834 28.5936 4.85749 29 5.88889 29Z" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div> 
        <p>vladitarazona@gmail.com</p>
      </div>
    </div>
    <div class='contact'>
      <h3>LinkedIn</h3>
      <div class='contact-info'>
        <div class='contact-logo'>
          <svg width="37" height="38" viewBox="0 0 39 38" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 2.72175C0 1.21837 1.28212 0 2.86406 0H36.1359C37.7179 0 39 1.21837 39 2.72175V35.2783C39 36.7816 37.7179 38 36.1359 38H2.86406C1.28212 38 0 36.7816 0 35.2783V2.72175ZM12.0486 31.8108V14.6514H6.19613V31.8108H12.0486ZM9.12356 12.3073C11.1638 12.3073 12.4337 10.9915 12.4337 9.34325C12.3971 7.65938 11.1662 6.37925 9.16256 6.37925C7.15894 6.37925 5.85 7.66175 5.85 9.34325C5.85 10.9915 7.11994 12.3073 9.08456 12.3073H9.12356ZM21.0868 31.8108V22.2276C21.0868 21.7146 21.1258 21.2016 21.2818 20.8359C21.7035 19.8122 22.6663 18.7506 24.2848 18.7506C26.403 18.7506 27.2488 20.3229 27.2488 22.6314V31.8108H33.1012V21.9688C33.1012 16.6962 30.2153 14.2453 26.364 14.2453C23.2586 14.2453 21.8668 15.9077 21.0868 17.0786V17.138H21.0478C21.0608 17.1182 21.0738 17.0984 21.0868 17.0786V14.6514H15.2368C15.3099 16.2616 15.2368 31.8108 15.2368 31.8108H21.0868Z" fill="currentColor"/>
            </svg> 
        </div> 
        <a href='https://www.linkedin.com/in/mathias-tarazona-856197263/' target='_blank'>@Mathitarazonad</a>
      </div>
    </div>
    <div class='contact'>
      <h3>GitHub</h3>
      <div class='contact-info'>
        <div class='contact-logo'>
          <svg width="40" height="44" viewBox="0 0 45 44" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M22.5025 1.89079e-06C10.0698 -0.00504745 0 10.1037 0 22.5807C0 32.4471 6.2993 40.8341 15.0721 43.9142C16.2535 44.2121 16.0725 43.3688 16.0725 42.7932V38.88C9.25036 39.6828 8.97386 35.1485 8.51637 34.3911C7.59133 32.8056 5.40442 32.4016 6.05798 31.6442C7.61144 30.8414 9.19506 31.8462 11.0301 34.5678C12.3573 36.5421 14.9464 36.2089 16.2585 35.8807C16.5451 34.6941 17.1584 33.6337 18.003 32.8106C10.9345 31.5382 7.98849 27.2059 7.98849 22.0555C7.98849 19.5561 8.80795 17.2587 10.4167 15.4056C9.39113 12.3507 10.5122 9.73514 10.6631 9.34634C13.584 9.08377 16.6205 11.4469 16.8568 11.6337C18.5158 11.1843 20.4111 10.947 22.5327 10.947C24.6643 10.947 26.5646 11.1944 28.2387 11.6488C28.8068 11.2146 31.6222 9.18476 34.3369 9.43218C34.4827 9.82098 35.5787 12.3759 34.6135 15.3904C36.2423 17.2486 37.0718 19.5662 37.0718 22.0707C37.0718 27.2311 34.1057 31.5685 27.0171 32.8207C27.6243 33.4205 28.1063 34.1357 28.4352 34.9246C28.7641 35.7135 28.9331 36.5604 28.9325 37.4156V43.0962C28.9727 43.5506 28.9325 44 29.6866 44C38.5901 40.9855 45 32.538 45 22.5857C45 10.1037 34.9251 1.89079e-06 22.5025 1.89079e-06Z" fill="currentColor"/>
            </svg>          
        </div> 
        <a href='https://github.com/Mathitarazonad' target="_blank">@Mathitarazonad</a>
      </div>
    </div>
  </div>
</section>

<style>
  section {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: var(--mobile-padding);
    position: relative;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  h2 {
    color: var(--light-purple);
    font-size: 1.75rem;
  }

  .contact {
    padding-bottom: 15px;
    border-bottom: 2px solid var(--dark-purple);
  }

  .contact:last-child {
    border: none;
  }

  .contact-logo {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-info {
    padding: 0px 5px;
    display: flex;
    align-items: center;
    color: var(--dark-purple);
  }

  p, a {
    font-weight: 500;
    font-size: 19px;
  }

  a {
    color: var(--dark-purple);
    text-underline-offset: 2px;
  }

  h3 {
    font-size: 1.4rem;
    font-weight: 800;
    color: var(--dark-purple);
  }
</style>