---

---

<footer>
  <p>Portfolio developed by <span>Mathias Tarazona</span> with Astro.</p>
  <p>2023</p>
</footer>

<style>
  footer {
    background-color: var(--dark-purple);
    padding: var(--mobile-padding);
    text-align: center;
  }
  
  footer p{
    font-size: 17px;
    color: var(--light-white);
    font-weight: 500;
  }
  
  footer span {
    color: var(--light-purple);
    font-weight: 600;
  }
  
  footer p:last-child {
    font-weight: 600;
    letter-spacing: 1px;
  }
</style>