---
import NavIcon, { Icon } from './NavIcon.astro';
import ThemeButton from './ThemeButton.astro'
const navigation = [
  {
    name: 'Home',
    url: '/#welcome',
  },
  {
    name: 'Services',
    url: '/#services',
  },
  {
    name: 'theme'
  },
  {
    name: 'Projects',
    url: '/#projects',
  },
  {
    name: 'Contact',
    url: '/#contact',
  },
]
---

<header>
  <nav>
    <div class='links'>
      {navigation.map(link => 
        link.name !== 'theme' ? 
          <a class='link' href={link.url}>
            <NavIcon icon={link.name as Icon} />
            <p>{link.name}</p>
          </a> 
          : <ThemeButton />
      )}
    </div>
  </nav>
</header>

<style>
  header {
    background-color: var(--secondary-color);
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    position: fixed;
  }

  nav {
    height: 100%;
  }

  .links {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: var(--mobile-padding);
  }

  .link {
    flex: 1 1 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  a {
    font-size: 14px;
    color: var(--nav-link-text);
    text-decoration: none;
  }
</style>