---

---
<section id='services'>
  <h2>Development Services</h2>
  <div class='services-container'>
    <article class='service'>
      <div class='service-logo'>
        <svg width="62" height="70" viewBox="0 0 72 70" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M35.9999 0C16.4751 0 0.5 15.7502 0.5 35C0.5 54.2507 16.4751 70 35.9999 70C39.3532 70 41.9166 67.4727 41.9166 64.1667C41.9166 62.6115 41.3253 61.25 40.3392 60.2778C39.3532 59.3055 38.7619 57.944 38.7619 56.3888C38.7619 53.083 41.3253 50.5555 44.6785 50.5555H51.7778C62.625 50.5555 71.5 41.8055 71.5 31.1112C71.4998 14.0004 55.5256 0 35.9999 0ZM14.3056 35C10.9523 35 8.38893 32.4727 8.38893 29.1667C8.38893 25.8606 10.9523 23.3333 14.3056 23.3333C17.6587 23.3333 20.2222 25.8606 20.2222 29.1667C20.2222 32.4727 17.6587 35 14.3056 35ZM26.1389 19.4445C22.7856 19.4445 20.2222 16.917 20.2222 13.6112C20.2222 10.3051 22.7856 7.77784 26.1389 7.77784C29.492 7.77784 32.0555 10.3051 32.0555 13.6112C32.0555 16.917 29.492 19.4445 26.1389 19.4445ZM45.8609 19.4445C42.5079 19.4445 39.9443 16.917 39.9443 13.6112C39.9443 10.3051 42.5079 7.77784 45.8609 7.77784C49.2142 7.77784 51.7776 10.3051 51.7776 13.6112C51.7776 16.917 49.2142 19.4445 45.8609 19.4445ZM57.6942 35C54.3412 35 51.7776 32.4727 51.7776 29.1667C51.7776 25.8606 54.3412 23.3333 57.6942 23.3333C61.0475 23.3333 63.6109 25.8606 63.6109 29.1667C63.6109 32.4727 61.0475 35 57.6942 35Z" fill="currentColor"/>
        </svg>         
      </div>
      <div class='service-info'>
        <h3>Customized Design</h3>
        <p>Develop  and design customized web applications.</p>
      </div>
    </article>
    <article class='service'>
      <div class='service-logo'>
        <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M57.5 30.5C57.5 25.1599 55.9165 19.9397 52.9497 15.4996C49.9829 11.0595 45.7661 7.59883 40.8325 5.55526C35.8989 3.5117 30.4701 2.97701 25.2326 4.01881C19.9951 5.06061 15.1841 7.63211 11.4081 11.4081C7.63211 15.1841 5.06061 19.9951 4.01881 25.2326C2.97701 30.4701 3.5117 35.8989 5.55526 40.8325C7.59883 45.7661 11.0595 49.9829 15.4996 52.9497C19.9397 55.9165 25.1599 57.5 30.5 57.5" stroke="currentColor" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M5.30005 21.5H55.7" stroke="currentColor" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M5.30005 39.5H29" stroke="currentColor" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M29 3.5C23.946 11.5988 21.2666 20.9536 21.2666 30.5C21.2666 40.0464 23.946 49.4012 29 57.5" stroke="currentColor" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M32 3.5C36.8516 11.2692 39.5192 20.2026 39.722 29.36" stroke="currentColor" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M39.5 48.5C39.5 50.8869 40.4482 53.1761 42.136 54.864C43.8239 56.5518 46.1131 57.5 48.5 57.5C50.8869 57.5 53.1761 56.5518 54.864 54.864C56.5518 53.1761 57.5 50.8869 57.5 48.5C57.5 46.1131 56.5518 43.8239 54.864 42.136C53.1761 40.4482 50.8869 39.5 48.5 39.5C46.1131 39.5 43.8239 40.4482 42.136 42.136C40.4482 43.8239 39.5 46.1131 39.5 48.5Z" stroke="currentColor" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M55.1 55.1L60.5 60.5" stroke="currentColor" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          
      </div>
      <div class='service-info'>
        <h3>SEO Friendly</h3>
        <p>Develop optimized web applications for search engines</p>
      </div>
    </article>
    <article class='service'>
      <div class='service-logo'>
        <svg width="48" height="64" viewBox="0 0 48 64" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 8.375C0 4.03145 3.91364 0.5 8.72727 0.5H39.2727C44.0864 0.5 48 4.03145 48 8.375V55.625C48 59.9686 44.0864 63.5 39.2727 63.5H8.72727C3.91364 63.5 0 59.9686 0 55.625V8.375ZM17.4545 55.625C17.4545 56.7078 18.4364 57.5938 19.6364 57.5938H28.3636C29.5636 57.5938 30.5455 56.7078 30.5455 55.625C30.5455 54.5422 29.5636 53.6562 28.3636 53.6562H19.6364C18.4364 53.6562 17.4545 54.5422 17.4545 55.625ZM39.2727 8.375H8.72727V47.75H39.2727V8.375Z" fill="currentColor"/>
        </svg>
      </div>  
      <div class='service-info'>
        <h3>Interactive Design</h3>
        <p>Create interactive interfaces in web applications.</p>
      </div>
    </article>
    <article class='service'>
      <div class="service-logo">
        <svg width="59" height="59" viewBox="0 0 59 72" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M52.8128 39.2229L40.754 33.6686C45.5552 30.24 48.6443 24.8914 48.6443 18.8571C48.6443 8.46857 39.4514 0 28.1743 0C16.8971 0 7.70419 8.46857 7.70419 18.8571C7.70419 26.16 12.2448 32.5029 18.8697 35.6229V46.8C10.8677 45.2229 11.3516 45.2914 10.4583 45.2914C8.48577 45.2914 6.62486 46.0114 5.21056 47.3143L0 52.1829L18.9441 69.6343C20.5445 71.1429 22.7776 72 25.0851 72H48.5327C52.1801 72 55.2692 69.6 55.8647 66.2743L58.8421 50.1257C59.6609 45.6686 57.2417 41.28 52.8128 39.2229ZM51.5101 48.9943L48.5327 65.1429H25.0851C24.7502 65.1429 24.4524 65.0057 24.1919 64.8L10.4956 52.1829L26.3133 55.2343V18.8571C26.3133 17.8971 27.1321 17.1429 28.1743 17.1429C29.2164 17.1429 30.0352 17.8971 30.0352 18.8571V39.4286H36.5856L49.4631 45.36C50.9519 46.0457 51.7707 47.52 51.5101 48.9943ZM15.1478 18.8571C15.1478 12.24 20.9911 6.85714 28.1743 6.85714C35.3574 6.85714 41.2007 12.24 41.2007 18.8571C41.2007 22.1143 39.7864 25.0629 37.4788 27.2229V18.8571C37.4788 16.5839 36.4985 14.4037 34.7536 12.7962C33.0086 11.1888 30.642 10.2857 28.1743 10.2857C25.7065 10.2857 23.3399 11.1888 21.5949 12.7962C19.85 14.4037 18.8697 16.5839 18.8697 18.8571V27.2229C16.5621 25.0629 15.1478 22.1143 15.1478 18.8571Z" fill="currentColor"/>
        </svg>          
      </div>
      <div class='service-info'>
        <h3>Responsive Design</h3>
        <p>Develop responsive web applications for all kind of devices.</p>
      </div>
    </article>
    <article class='service'>
      <div class="service-logo">
        <svg width="52" height="66" viewBox="0 0 52 66" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.4086 45.0053L20.382 44.9795L16.0258 41.2548L20.382 37.5302C20.8602 37.1178 20.9133 36.396 20.4883 35.932L20.4617 35.9063L18.1508 33.5091C17.6992 33.0451 16.9555 33.0322 16.5039 33.4575L8.84062 40.43C8.34922 40.8811 8.34922 41.6415 8.84062 42.0797L16.5039 49.0521C16.7164 49.2455 17.0086 49.3615 17.3008 49.3615C17.6195 49.3615 17.9383 49.2326 18.1508 49.0006L20.4617 46.6034C20.9 46.1523 20.8734 45.4306 20.4086 45.0053ZM49.6273 12.6303L38.4844 1.81722C37.2891 0.657294 35.6688 0 33.982 0H6.875C3.35547 0.0128881 0.5 2.78383 0.5 6.19918V59.8137C0.5 63.2291 3.35547 66 6.875 66H45.125C48.6445 66 51.5 63.2291 51.5 59.8137V17.0123C51.5 15.3755 50.8227 13.7903 49.6273 12.6303ZM34.5 6.70182L44.607 16.5097H34.5V6.70182ZM45.125 59.8137H6.875V6.19918H28.125V19.6028C28.125 21.3169 29.5461 22.696 31.3125 22.696H45.125V59.8137ZM28.3375 27.5934C27.7133 27.413 27.0758 27.761 26.8898 28.3667L19.625 52.6093C19.4391 53.215 19.7977 53.8465 20.4219 54.0141L23.6625 54.9291C24.2867 55.1096 24.9375 54.7487 25.1102 54.1558L32.375 29.9004C32.5609 29.2947 32.2023 28.6632 31.5781 28.4956L28.3375 27.5934ZM31.5914 37.5044L31.618 37.5302L35.9742 41.2548L31.618 44.9795C31.1398 45.3919 31.0867 46.1137 31.5117 46.5776L31.5383 46.6034L33.8492 49.0006C34.2875 49.4517 35.0312 49.4775 35.4961 49.0521L43.1594 42.0797C43.6508 41.6286 43.6508 40.8682 43.1594 40.43L35.4961 33.4575C35.0312 33.0322 34.2875 33.0451 33.8492 33.5091L31.5383 35.9063C31.1 36.3574 31.1266 37.0791 31.5914 37.5044Z" fill="currentColor"/>
        </svg>  
      </div> 
      <div class='service-info'>
        <h3>Clean Code</h3>
        <p>Write legible, documented and  structured code.</p>
      </div>
    </article>
    <article class='service'>
      <div class="service-logo">
        <svg width="66" height="52" viewBox="0 0 66 52" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path id="Vector" d="M32.0197 13.4759C32.7655 12.8338 33.0596 11.8246 32.6709 10.9276C32.4293 10.3874 32.1667 9.85734 31.8726 9.34768L31.547 8.79725C31.2319 8.28759 30.8853 7.78813 30.5176 7.30905C29.9189 6.53436 28.8685 6.27953 27.9231 6.58533L24.961 7.5333C23.8371 6.6363 22.5451 5.90239 21.1586 5.40292L20.5178 2.4469C20.3183 1.49893 19.562 0.744636 18.5746 0.632511C17.8814 0.540773 17.1776 0.5 16.4633 0.5H16.3898C15.6755 0.5 14.9718 0.540773 14.2785 0.622318C13.2911 0.734443 12.5348 1.49893 12.3353 2.4367L11.6945 5.40292C10.2975 5.91258 9.01601 6.6363 7.89209 7.5333L4.91947 6.59552C3.97411 6.28973 2.92371 6.54456 2.32499 7.31924C1.95735 7.79832 1.61072 8.29778 1.2851 8.80744L0.969978 9.34768C0.675867 9.85734 0.413268 10.3874 0.171677 10.9378C-0.21697 11.8246 0.0771411 12.8337 0.822922 13.4861L3.1548 15.5044C3.03926 16.1873 2.97623 16.9008 2.97623 17.6245C2.97623 18.3483 3.03926 19.0618 3.1548 19.7549L0.822922 21.7732C0.0771411 22.4153 -0.21697 23.4245 0.171677 24.3215C0.413268 24.8617 0.675867 25.3918 0.969978 25.9116L1.2851 26.4417C1.60022 26.9615 1.94685 27.4508 2.32499 27.9299C2.92371 28.7045 3.97411 28.9594 4.91947 28.6536L7.88158 27.7056C9.00551 28.6026 10.2975 29.3365 11.684 29.836L12.3248 32.8022C12.5243 33.7502 13.2806 34.5045 14.268 34.6166C14.9718 34.6981 15.686 34.7389 16.4108 34.7389C17.1356 34.7389 17.8498 34.6981 18.5536 34.6166C19.541 34.5045 20.2973 33.74 20.4968 32.8022L21.1376 29.836C22.5346 29.3263 23.8161 28.6026 24.94 27.7056L27.9021 28.6536C28.8475 28.9594 29.8979 28.7045 30.4966 27.9299C30.8643 27.4508 31.2109 26.9615 31.526 26.4417L31.8516 25.8912C32.1457 25.3816 32.4083 24.8515 32.6499 24.3113C33.0386 23.4245 32.7445 22.4153 31.9987 21.763L29.6668 19.7447C29.7823 19.0516 29.8454 18.3381 29.8454 17.6144C29.8454 16.8906 29.7823 16.1771 29.6668 15.484L31.9987 13.4657L32.0197 13.4759ZM11.3794 17.6245C11.3794 16.3269 11.9106 15.0824 12.8561 14.1649C13.8017 13.2473 15.0841 12.7318 16.4213 12.7318C17.7585 12.7318 19.0409 13.2473 19.9865 14.1649C20.932 15.0824 21.4632 16.3269 21.4632 17.6245C21.4632 18.9222 20.932 20.1667 19.9865 21.0842C19.0409 22.0018 17.7585 22.5173 16.4213 22.5173C15.0841 22.5173 13.8017 22.0018 12.8561 21.0842C11.9106 20.1667 11.3794 18.9222 11.3794 17.6245ZM52.6285 50.7014C53.2902 51.4251 54.3301 51.7105 55.2544 51.3334C55.8112 51.099 56.3574 50.8441 56.8826 50.5587L57.4498 50.2427C57.975 49.9369 58.4897 49.6006 58.9834 49.2438C59.7817 48.6628 60.0443 47.6435 59.7291 46.7261L58.7523 43.8516C59.6766 42.7609 60.4329 41.5072 60.9476 40.1617L64.0042 39.5399C64.9811 39.3462 65.7584 38.6123 65.8739 37.6542C65.958 36.9712 66 36.2781 66 35.5747C66 34.8714 65.958 34.1783 65.8739 33.4953C65.7584 32.5372 64.9706 31.8033 64.0042 31.6096L60.9476 30.9776C60.4224 29.6219 59.6766 28.3784 58.7523 27.2877L59.7291 24.4132C60.0443 23.4958 59.7817 22.4765 58.9834 21.8955C58.4897 21.5387 57.975 21.2024 57.4498 20.8864L56.8931 20.5806C56.3679 20.2952 55.8217 20.0403 55.2544 19.8059C54.3406 19.4287 53.3007 19.7141 52.6285 20.4379L50.5487 22.7008C49.8344 22.5886 49.0991 22.5275 48.3533 22.5275C47.6076 22.5275 46.8723 22.5886 46.158 22.7008L44.0782 20.4379C43.4165 19.7141 42.3766 19.4287 41.4522 19.8059C40.8955 20.0403 40.3493 20.2952 39.8136 20.5806L39.2674 20.8864C38.7317 21.1922 38.2275 21.5285 37.7338 21.8955C36.9355 22.4765 36.6729 23.4958 36.9881 24.4132L37.9649 27.2877C37.0406 28.3784 36.2843 29.6321 35.7696 30.9776L32.7129 31.5892C31.7361 31.7829 30.9588 32.5168 30.8432 33.4749C30.7592 34.1579 30.7172 34.851 30.7172 35.5544C30.7172 36.2577 30.7592 36.9508 30.8432 37.6338C30.9588 38.5919 31.7466 39.3258 32.7129 39.5195L35.7696 40.1413C36.2948 41.497 37.0406 42.7405 37.9649 43.8312L36.9881 46.7057C36.6729 47.6231 36.9355 48.6424 37.7338 49.2234C38.2275 49.5802 38.7317 49.9165 39.2674 50.2223L39.8346 50.5383C40.3598 50.8237 40.906 51.0786 41.4627 51.313C42.3766 51.6902 43.4165 51.4048 44.0887 50.681L46.1685 48.4182C46.8828 48.5303 47.6181 48.5914 48.3638 48.5914C49.1096 48.5914 49.8449 48.5303 50.5592 48.4182L52.639 50.681L52.6285 50.7014ZM48.3533 30.6718C49.0155 30.6718 49.6711 30.7984 50.2828 31.0443C50.8945 31.2901 51.4503 31.6505 51.9185 32.1049C52.3867 32.5592 52.7581 33.0986 53.0115 33.6922C53.2648 34.2858 53.3952 34.922 53.3952 35.5645C53.3952 36.2071 53.2648 36.8433 53.0115 37.4369C52.7581 38.0305 52.3867 38.5699 51.9185 39.0242C51.4503 39.4786 50.8945 39.839 50.2828 40.0848C49.6711 40.3307 49.0155 40.4573 48.3533 40.4573C47.6912 40.4573 47.0356 40.3307 46.4239 40.0848C45.8122 39.839 45.2564 39.4786 44.7882 39.0242C44.32 38.5699 43.9486 38.0305 43.6952 37.4369C43.4419 36.8433 43.3114 36.2071 43.3114 35.5645C43.3114 34.922 43.4419 34.2858 43.6952 33.6922C43.9486 33.0986 44.32 32.5592 44.7882 32.1049C45.2564 31.6505 45.8122 31.2901 46.4239 31.0443C47.0356 30.7984 47.6912 30.6718 48.3533 30.6718Z" fill="currentColor"/>
        </svg>   
      </div>
      <div class='service-info'>
        <h3>High Perfomance</h3>
        <p>Prioritize user experience writing efficient and sustainable code.</p>
      </div>
    </article>
  </div>
</section>

<style>
  section {
    background-color: var(--fourth-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: var(--mobile-padding);
  }

  h2 {
    color: var(--secondary-color);
    font-size: 1.75rem;
  }

  .services-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .service {
    min-height: 145px;
    padding: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: var(--card-bg);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.155) 0px 5px 15px;
  }

  .service-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .service-info {
    text-align: center;
  }

  h3 {
    color: var(--main-color);
    text-align: left;
  }

  p {
    text-align: left;
    color: var(--card-text);
    font-weight: 600;
  }

  svg {
    color: var(--main-color);
    width: 55px;
  }

  @media screen and (min-width: 1200px) {
    section {
      padding: 50px var(--desktop-padding) !important;
      justify-content: center;
      gap: 30px;
    }
    .services-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 50px;
    }

    h2 {
      font-size: 2rem;
    }

    .service {
      aspect-ratio: 16/11;
      gap: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .service-logo {
      height: 70px;
    }

    h3, p {
      text-align: center;
    }

    .service svg {
      width: 80px;
    }
  }

  @media screen and (min-width: 1400px) {
    section {
      padding: 50px var(--lg-desktop-padding) !important;
    }
  }

  @media screen and (min-width: 1650px) {
    section {
      padding: 100px var(--xl-desktop-padding) !important;
    }
  }
</style>