---

---
<div class='technologies-container'>
  <div class='technology'>
    <p>React</p>
    <svg xmlns="http://www.w3.org/2000/svg" width="52" height="50" fill="currentColor">
      <path fill="currentColor" stroke="currentColor" d="M42.157 16.555a47.435 47.435 0 0 0-1.614-.546c.09-.397.17-.793.249-1.19 1.225-6.385.418-11.517-2.301-13.21-2.62-1.617-6.893.065-11.216 4.114-.428.397-.847.815-1.245 1.232a31.203 31.203 0 0 0-.827-.824C20.671 1.802 16.13-.02 13.41 1.684c-2.61 1.629-3.386 6.46-2.29 12.503.109.6.229 1.19.368 1.79-.638.192-1.265.407-1.853.631C4.315 18.591.5 21.72.5 24.954c0 3.343 4.064 6.697 9.592 8.732.449.16.897.322 1.355.46-.15.644-.279 1.276-.398 1.93-1.046 5.946-.23 10.66 2.38 12.277 2.69 1.672 7.212-.043 11.615-4.189.348-.332.697-.675 1.046-1.039.438.46.896.9 1.354 1.328 4.264 3.943 8.477 5.54 11.077 3.922 2.69-1.672 3.566-6.74 2.43-12.91-.09-.472-.189-.954-.298-1.447.318-.096.627-.203.936-.31 5.747-2.047 9.911-5.357 9.911-8.753 0-3.247-3.925-6.397-9.343-8.4ZM28.68 7.459c3.705-3.471 7.161-4.832 8.735-3.857 1.684 1.04 2.331 5.24 1.275 10.757-.07.364-.14.717-.229 1.071a47.688 47.688 0 0 0-6.704-1.136 53.648 53.648 0 0 0-4.243-5.689c.389-.396.767-.771 1.166-1.146ZM17.154 30.515a75.098 75.098 0 0 0 1.573 2.775 42.2 42.2 0 0 1-4.621-.804c.438-1.542.986-3.139 1.623-4.767.459.942.927 1.875 1.425 2.796Zm-3.019-12.889a46.326 46.326 0 0 1 4.543-.835c-.528.889-1.046 1.8-1.534 2.721-.488.91-.966 1.843-1.415 2.785a53.596 53.596 0 0 1-1.594-4.67Zm2.73 7.382a69.169 69.169 0 0 1 2.131-4.35 65.534 65.534 0 0 1 2.43-4.167A58.089 58.089 0 0 1 26 16.309c1.554 0 3.088.064 4.572.182a75.97 75.97 0 0 1 2.42 4.146 74.93 74.93 0 0 1 2.162 4.328 73.074 73.074 0 0 1-4.562 8.55 58.333 58.333 0 0 1-4.592.171 69.1 69.1 0 0 1-4.542-.15 66.053 66.053 0 0 1-4.592-8.528Zm17.99 5.486c.507-.943.985-1.897 1.454-2.861a52.114 52.114 0 0 1 1.683 4.746 40.938 40.938 0 0 1-4.682.857c.538-.9 1.046-1.821 1.544-2.742Zm1.434-8.197a91.096 91.096 0 0 0-1.445-2.806c-.488-.911-.996-1.811-1.524-2.7a42.89 42.89 0 0 1 4.572.857 49.717 49.717 0 0 1-1.603 4.65ZM26.02 10.245a46.485 46.485 0 0 1 2.948 3.835 60.767 60.767 0 0 0-5.926 0 53.414 53.414 0 0 1 2.978-3.835ZM14.465 3.677c1.674-1.05 5.39.45 9.304 4.178.249.236.498.493.757.75a53.895 53.895 0 0 0-4.273 5.69c-2.252.214-4.483.589-6.694 1.114-.13-.547-.24-1.104-.349-1.661-.936-5.185-.319-9.096 1.255-10.07Zm-2.44 28.241a24.05 24.05 0 0 1-1.235-.417c-2.122-.718-4.533-1.854-6.276-3.343-1.006-.75-1.683-1.907-1.872-3.204 0-1.96 3.147-4.467 7.69-6.17a32.843 32.843 0 0 1 1.723-.59 59.657 59.657 0 0 0 2.44 6.814 61.352 61.352 0 0 0-2.47 6.91Zm11.614 10.5a18.095 18.095 0 0 1-5.618 3.782 4.127 4.127 0 0 1-3.516.14c-1.584-.987-2.241-4.769-1.345-9.858.11-.6.23-1.2.369-1.789 2.231.515 4.482.868 6.763 1.05a55.98 55.98 0 0 0 4.303 5.721c-.318.333-.637.654-.956.954Zm2.44-2.604a50.022 50.022 0 0 1-3.018-3.889c.957.043 1.943.065 2.939.065a56.41 56.41 0 0 0 3.028-.075 45.713 45.713 0 0 1-2.948 3.9ZM39.1 43.03c-.09 1.307-.688 2.528-1.644 3.353-1.584.986-4.96-.3-8.606-3.664a43.883 43.883 0 0 1-1.265-1.232 52.623 52.623 0 0 0 4.203-5.743 45.902 45.902 0 0 0 6.794-1.125c.1.44.189.879.269 1.307.488 2.315.567 4.725.249 7.104Zm1.813-11.518c-.28.097-.558.193-.847.279a56.898 56.898 0 0 0-2.54-6.835 56.672 56.672 0 0 0 2.44-6.74c.518.161 1.016.333 1.494.504 4.642 1.714 7.9 4.264 7.9 6.214 0 2.1-3.477 4.81-8.448 6.578ZM26 29.904c2.52 0 4.562-2.196 4.562-4.907 0-2.71-2.042-4.907-4.562-4.907-2.52 0-4.562 2.197-4.562 4.907S23.48 29.904 26 29.904Z"/>
    </svg>    
  </div>
  <div class='technology'>
    <p>JavaScript</p>
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="none">
      <path fill="currentColor" d="M0 9.028A9.028 9.028 0 0 1 9.028 0h31.944A9.028 9.028 0 0 1 50 9.028v31.944A9.028 9.028 0 0 1 40.972 50H9.028A9.028 9.028 0 0 1 0 40.972V9.028Zm9.028-4.861a4.861 4.861 0 0 0-4.861 4.86v31.945a4.861 4.861 0 0 0 4.86 4.861h31.945a4.861 4.861 0 0 0 4.861-4.86V9.027a4.861 4.861 0 0 0-4.86-4.861H9.027Z"/><path fill="currentColor" d="M30 24.912C30 22.752 32.155 21 34.813 21h4.124c1.14 0 2.063.75 2.063 1.677 0 .925-.923 1.676-2.063 1.676h-4.124c-.38 0-.688.25-.688.559v3.353c0 .308.308.558.688.558h1.374c2.658 0 4.813 1.752 4.813 3.912v3.353C41 38.248 38.845 40 36.187 40h-4.124C30.922 40 30 39.25 30 38.324c0-.926.923-1.677 2.063-1.677h4.124c.38 0 .688-.25.688-.559v-3.353c0-.308-.308-.559-.688-.559h-1.374c-2.658 0-4.813-1.75-4.813-3.911v-3.353ZM25 22.677C25 21.75 24.105 21 23 21s-2 .75-2 1.677v13.411c0 .309-.298.56-.667.56H17c-1.105 0-2 .75-2 1.675 0 .926.895 1.677 2 1.677h3.333C22.911 40 25 38.249 25 36.088V22.676Z"/>
    </svg>      
  </div>
  <div class='technology'>
    <p>Next</p>
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="none">
      <path fill="#140035" d="M24.11 0c-.368 0-.646.003-.747.014-.108.011-.45.044-.758.068-7.102.64-13.754 4.472-17.967 10.36A24.74 24.74 0 0 0 .225 21.365C.025 22.738 0 23.143 0 25.005s.025 2.268.225 3.64c1.358 9.388 8.04 17.276 17.102 20.198 1.622.523 3.333.88 5.278 1.094.758.084 4.032.084 4.79 0 3.358-.371 6.202-1.202 9.008-2.633.43-.22.513-.279.454-.328-.039-.03-1.872-2.487-4.071-5.459l-3.998-5.4-5.01-7.413c-2.756-4.076-5.024-7.408-5.044-7.408-.02-.005-.039 3.289-.049 7.31-.014 7.042-.02 7.326-.107 7.492-.127.24-.225.337-.43.445-.157.078-.294.092-1.032.092h-.845l-.225-.141a.912.912 0 0 1-.327-.357l-.103-.22.01-9.798.015-9.803.151-.19c.078-.103.245-.235.362-.298.2-.098.278-.108 1.124-.108.997 0 1.163.039 1.422.322.074.079 2.786 4.164 6.032 9.085 3.285 4.981 6.573 9.96 9.863 14.939l3.959 5.996.2-.132c1.774-1.153 3.65-2.795 5.137-4.505a24.883 24.883 0 0 0 5.884-12.78c.2-1.372.225-1.779.225-3.64 0-1.862-.025-2.267-.225-3.64-1.358-9.388-8.04-17.276-17.101-20.198-1.598-.518-3.3-.875-5.205-1.09C27.116.041 25.21.001 24.109 0Zm8.475 15.035c.724 0 .85.011 1.012.098a.986.986 0 0 1 .494.577c.039.127.049 2.844.039 8.967l-.014 8.787-1.55-2.375-1.554-2.375v-6.388c0-4.129.02-6.45.049-6.563a.996.996 0 0 1 .484-.615c.2-.103.273-.113 1.04-.113Z"/></svg>   
  </div>
  <div class='technology'>
    <p>Tailwind</p>
    <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M25 10.5C18.859 10.5 15.041 13.7142 13.5 20.1667C15.8 16.9525 18.491 15.7442 21.55 16.5417C23.298 17.0008 24.563 18.33 25.943 19.8042C28.197 22.2208 30.75 25 36.5 25C42.641 25 46.459 21.7858 48 15.3333C45.7 18.5475 43.009 19.7558 39.95 18.9583C38.202 18.4992 36.96 17.17 35.557 15.6958C33.303 13.2792 30.75 10.5 25 10.5ZM13.5 25C7.359 25 3.541 28.2142 2 34.6667C4.3 31.4525 6.991 30.2442 10.05 31.0417C11.798 31.5008 13.04 32.83 14.443 34.3042C16.697 36.7208 19.25 39.5 25 39.5C31.141 39.5 34.959 36.2858 36.5 29.8333C34.2 33.0475 31.509 34.2558 28.45 33.4583C26.702 32.9992 25.46 31.67 24.057 30.1958C21.803 27.7792 19.25 25 13.5 25Z" fill="#140035"/>
    </svg>           
  </div>
  <div class='technology'>
    <p>Angular</p>
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="none">
      <path fill="currentColor" d="M20.416 26.35h9.168L25 16.127 20.416 26.35ZM25 0 0 8.304l3.826 30.77L25 50l21.174-10.926L50 8.304 25 0Zm15.664 38.147h-5.847l-3.152-7.299H18.36l-3.152 7.3h-5.86L25 5.524l15.664 32.622Z"/>
    </svg>
  </div>
  <div class='technology'> 
    <p>TypeScript</p>
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="none">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.5" d="M32 38.833c.64.747 1.508 1.167 2.414 1.167H35.5c1.38 0 2.5-1.307 2.5-2.917V36.5c0-.928-.316-1.819-.879-2.475C36.56 33.37 35.796 33 35 33s-1.559-.369-2.121-1.025C32.316 31.318 32 30.428 32 29.5v-.583C32 27.307 33.12 26 34.5 26h1.086c.906 0 1.774.42 2.414 1.167M17 26h10M22 26v14"/>
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4.5" d="M47 42V7a5.058 5.058 0 0 0-1.432-3.536A4.835 4.835 0 0 0 42.111 2H7.89c-1.297 0-2.54.527-3.457 1.464A5.058 5.058 0 0 0 3 7v35c0 1.326.515 2.598 1.432 3.535A4.834 4.834 0 0 0 7.889 47H42.11c1.297 0 2.54-.527 3.457-1.465A5.058 5.058 0 0 0 47 42Z"/>
    </svg>
  </div>
  <div class='technology'> 
    <p>Svelte</p>
    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="50" fill="none">
      <path fill="currentColor" d="M17.57 44.01a9.25 9.25 0 0 1-9.926-3.68 8.56 8.56 0 0 1-1.465-6.474 8.12 8.12 0 0 1 .28-1.087l.218-.669.598.438a15.022 15.022 0 0 0 4.554 2.275l.433.13-.041.434a2.611 2.611 0 0 0 .47 1.73 2.785 2.785 0 0 0 2.99 1.11c.253-.067.494-.173.715-.313l11.646-7.42a2.426 2.426 0 0 0 1.091-1.622 2.589 2.589 0 0 0-.44-1.952 2.788 2.788 0 0 0-2.989-1.11 2.559 2.559 0 0 0-.715.313l-4.443 2.833a8.497 8.497 0 0 1-2.365 1.04 9.25 9.25 0 0 1-9.927-3.68 8.558 8.558 0 0 1-1.462-6.475 8.031 8.031 0 0 1 3.629-5.379l11.643-7.423a8.483 8.483 0 0 1 2.365-1.04 9.25 9.25 0 0 1 9.927 3.682 8.56 8.56 0 0 1 1.465 6.473 8.197 8.197 0 0 1-.28 1.087l-.218.669-.596-.438a15.009 15.009 0 0 0-4.556-2.277l-.434-.13.042-.432a2.615 2.615 0 0 0-.47-1.731 2.785 2.785 0 0 0-2.99-1.109 2.564 2.564 0 0 0-.715.313l-11.646 7.42a2.42 2.42 0 0 0-1.091 1.622 2.583 2.583 0 0 0 .44 1.951 2.787 2.787 0 0 0 2.989 1.111c.253-.068.495-.174.716-.315l4.442-2.833a8.473 8.473 0 0 1 2.365-1.037 9.25 9.25 0 0 1 9.927 3.679 8.558 8.558 0 0 1 1.462 6.475 8.037 8.037 0 0 1-3.629 5.381l-11.644 7.42a8.483 8.483 0 0 1-2.364 1.04ZM39.15 6.615C34.508-.031 25.337-2 18.708 2.225L7.062 9.645a13.358 13.358 0 0 0-6.033 8.949 14.069 14.069 0 0 0 1.388 9.033 13.396 13.396 0 0 0-2 4.992A14.235 14.235 0 0 0 2.85 43.383c4.644 6.646 13.812 8.615 20.442 4.392l11.645-7.42a13.355 13.355 0 0 0 6.034-8.949c.556-3.081.068-6.26-1.386-9.033a13.394 13.394 0 0 0 1.996-4.992A14.23 14.23 0 0 0 39.15 6.615Z"/>
    </svg>
  </div>
  <div class='technology'>
    <p>GitHub</p>
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="none"><g clip-path="url(#a)">
      <path fill="#140035" d="M25.003 0C11.189-.006 0 11.482 0 25.66c0 11.212 7 20.742 16.747 24.243 1.312.338 1.111-.62 1.111-1.274v-4.447c-7.58.912-7.887-4.24-8.395-5.101-1.028-1.802-3.458-2.26-2.732-3.122 1.726-.912 3.486.23 5.525 3.323 1.474 2.243 4.351 1.864 5.809 1.492a7.287 7.287 0 0 1 1.938-3.49C12.15 35.84 8.876 30.917 8.876 25.065c0-2.841.91-5.452 2.698-7.558-1.14-3.471.106-6.443.274-6.885 3.245-.299 6.62 2.387 6.882 2.6 1.843-.512 3.949-.781 6.306-.781 2.369 0 4.48.28 6.34.797.632-.493 3.76-2.8 6.776-2.519.162.442 1.38 3.346.307 6.771 1.81 2.112 2.732 4.745 2.732 7.591 0 5.865-3.296 10.793-11.172 12.216a7.33 7.33 0 0 1 1.576 2.391c.365.897.553 1.859.552 2.83v6.456c.045.516 0 1.027.838 1.027C42.878 46.575 50 36.975 50 25.666 50 11.482 38.806 0 25.003 0Z"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h50v50H0z"/></clipPath></defs>
    </svg>
  </div>
  <div class='technology'> 
    <p>Git</p>
    <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M49.0548 22.7718L27.2226 0.943329C26.9237 0.644267 26.5688 0.407029 26.1781 0.245169C25.7875 0.0833096 25.3688 0 24.946 0C24.5231 0 24.1044 0.0833096 23.7138 0.245169C23.3231 0.407029 22.9682 0.644267 22.6693 0.943329L18.1378 5.47466L23.8881 11.2248C24.5663 10.9932 25.2959 10.957 25.9936 11.1202C26.6914 11.2834 27.3292 11.6395 27.8343 12.1479C28.3394 12.6562 28.6914 13.2963 28.8501 13.9951C29.0089 14.6939 28.968 15.4232 28.7321 16.0998L34.2729 21.6437C35.0927 21.3551 35.9863 21.3542 36.8066 21.6412C37.6269 21.9282 38.3251 22.486 38.7861 23.2228C39.247 23.9595 39.4434 24.8313 39.3428 25.6945C39.2421 26.5577 38.8505 27.361 38.2325 27.9719C37.6068 28.6015 36.7819 28.9942 35.8988 29.0831C35.0157 29.172 34.1291 28.9516 33.3904 28.4594C32.6518 27.9673 32.1069 27.2339 31.849 26.3847C31.591 25.5354 31.6359 24.6229 31.9759 23.8031L26.8101 18.6343V32.2376C27.5953 32.6263 28.2236 33.2723 28.5902 34.0681C28.9569 34.8638 29.0397 35.7611 28.8249 36.6105C28.6101 37.4599 28.1107 38.21 27.4099 38.7359C26.7091 39.2617 25.8492 39.5314 24.9736 39.5002C24.0981 39.4689 23.2596 39.1385 22.5981 38.564C21.9366 37.9895 21.492 37.2057 21.3383 36.3432C21.1847 35.4806 21.3313 34.5915 21.7538 33.8239C22.1763 33.0564 22.849 32.4568 23.66 32.1251V18.3968C23.1921 18.2051 22.7668 17.9226 22.4086 17.5658C22.0504 17.2089 21.7664 16.7847 21.5729 16.3176C21.3794 15.8505 21.2803 15.3497 21.2813 14.8441C21.2823 14.3385 21.3833 13.838 21.5786 13.3717L15.9128 7.70282L0.943354 22.6718C0.644283 22.9708 0.40704 23.3257 0.245176 23.7163C0.0833118 24.1069 0 24.5256 0 24.9484C0 25.3713 0.0833118 25.79 0.245176 26.1806C0.40704 26.5712 0.644283 26.9261 0.943354 27.225L22.7755 49.0567C23.0745 49.3557 23.4294 49.593 23.82 49.7548C24.2107 49.9167 24.6294 50 25.0522 50C25.4751 50 25.8938 49.9167 26.2844 49.7548C26.675 49.593 27.03 49.3557 27.3289 49.0567L49.0579 27.3282C49.6612 26.7241 50 25.9053 50 25.0516C50 24.1979 49.6612 23.3791 49.0579 22.775" fill="currentColor"/>
      </svg>
      
  </div>
  <div class='technology'>
    <p>Figma</p>
    <svg xmlns="http://www.w3.org/2000/svg" width="38" height="49" fill="none"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M2.771 10.154c0-1.938.851-3.797 2.366-5.167 1.515-1.37 3.57-2.14 5.711-2.14h8.077v14.615h-8.077c-2.142 0-4.196-.77-5.71-2.14-1.516-1.371-2.367-3.23-2.367-5.168Z"/>
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M18.925 2.846h8.077a8.82 8.82 0 0 1 3.091.556 8.18 8.18 0 0 1 2.62 1.585 7.306 7.306 0 0 1 1.751 2.37c.406.887.615 1.837.615 2.797 0 .96-.209 1.91-.615 2.796-.406.887-1 1.693-1.75 2.371a8.18 8.18 0 0 1-2.62 1.584c-.98.368-2.031.557-3.092.557h-8.077V2.846Z"/>
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M18.925 24.77c0-.96.21-1.91.615-2.797.406-.887 1.001-1.692 1.751-2.371a8.182 8.182 0 0 1 2.62-1.584 8.822 8.822 0 0 1 3.091-.556c1.06 0 2.111.189 3.091.556.98.367 1.87.905 2.62 1.584a7.306 7.306 0 0 1 1.751 2.37c.406.887.615 1.838.615 2.797 0 .96-.209 1.91-.615 2.797-.406.886-1 1.692-1.75 2.37a8.183 8.183 0 0 1-2.62 1.585c-.98.367-2.031.556-3.092.556-1.06 0-2.11-.19-3.09-.556a8.183 8.183 0 0 1-2.621-1.584 7.306 7.306 0 0 1-1.75-2.371 6.709 6.709 0 0 1-.616-2.797ZM2.771 39.385c0-1.938.851-3.797 2.366-5.168 1.515-1.37 3.57-2.14 5.711-2.14h8.077v7.308c0 1.938-.85 3.797-2.365 5.167-1.515 1.37-3.57 2.14-5.712 2.14s-4.196-.77-5.71-2.14c-1.516-1.37-2.367-3.23-2.367-5.167ZM2.771 24.77c0-1.939.851-3.798 2.366-5.168 1.515-1.37 3.57-2.14 5.711-2.14h8.077v14.615h-8.077c-2.142 0-4.196-.77-5.71-2.14-1.516-1.37-2.367-3.23-2.367-5.168Z"/>
    </svg>
  </div>
</div>

<style>
  .technologies-container {
    margin-top: 10px;
    display: grid;
    grid-template-rows: repeat(auto-fit);
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    gap: 10px;
  }

  .technology {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    color: var(--dark-purple);
  }

  .technology p {
    display: none;
  }

</style>