---
import Technologies from './Technologies.astro';

---

<section id='welcome'>
  <div class='photo-section'>
    <img src='/personal-photo.webp' alt="Mathi's Image" />
  </div>
  <div class='text-section'>
    <h3>Welcome! I'm</h3>
    <h1>Mathias Tarazona</h1>
    <h2>Web Developer</h2>
    <Technologies />
    <p>Technology passionate with more than <strong>1 year of experience</strong> developing web applications, specifically in the <strong>frontend</strong> with <strong>React and TypeScript.</strong> Currently developing personal projects and from third parties.</p>
    <div class='btns-container'>
      <button class='download-btn'>
        <a href='/MathiasTarazona-CV.pdf' download>Download CV</a>
      </button>
      <button class='contact-btn'>
        Contact Me
      </button>
    </div>
  </div>
</section>

<style>
  section {
    padding: var(--mobile-padding);
    display: flex;
    flex-direction: column;
    background-color: var(--third-color);
  }

  .photo-section {
    display: flex;
    justify-content: center;
  }

  img {
    border: 10px solid var(--main-color);
    border-radius: 50%;
  }

  .text-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  h3 {
    color: var(--main-color);
    font-size: 1.8rem;
  }

  h1 {
    font-size: 2.3rem;
    color: var(--secondary-color);
  }

  h2 {
    font-size: 2rem;
    color: var(--main-color);
  }

  p {
    font-size: 17px;
    color: var(--main-color);
    font-weight: 600;
    line-height: 36px;
    letter-spacing: .3px;
  }

  strong {
    color: var(--secondary-color);
    font-weight: 700;
  }

  .btns-container {
    display: flex;
    gap: 15px;
  }

  button, .download-btn {
    border: none;
    background: none;
    width: 170px;
    height: 55px;
    border-radius: 15px;
    font-size: 19px;
    font-weight: 500;
    padding: 0 10;
  }

  .download-btn {
    border-radius: 15px;
    background-color: var(--secondary-color);
  }

  .download-btn a {
    color: var(--third-color);
    text-decoration: none;
  }

  .contact-btn {
    border: 4px solid var(--main-color);
    color: var(--main-color);
    font-weight: 600;
  }

  body.dark-theme .download-btn a {
    color: var(--main-color);
  }
</style>