---
import Technologies from './Technologies.astro';

---

<section id='welcome'>
  <div class='photo-section'>
    <img src='/personal-photo.webp' alt="Mathi's Image" />
  </div>
  <div class='text-section'>
    <header>
      <h3>Welcome! I'm</h3>
      <h1>Mathias Tarazona</h1>
      <h2>Web Developer</h2>
    </header>
    <Technologies />
    <p>Technology passionate with more than <strong>1 year of experience</strong> developing web applications, specifically in the <strong>frontend</strong> with <strong>React and TypeScript.</strong></p>
    <p>Currently developing personal projects and from third parties.</p>
    <footer class='btns-container'>
      <a href='/MathiasTarazona-CV.pdf'  class='download-btn' download>Download CV</a>
      <a href='#contact' class='contact-btn'>Contact Me</a>
    </footer>
  </div>
</section>

<style>
  section {
    padding: var(--mobile-padding);
    display: flex;
    flex-direction: column;
    background-color: var(--third-color);
  }

  .photo-section {
    display: flex;
    justify-content: center;
  }

  img {
    border: 10px solid var(--main-color);
    border-radius: 50%;
    aspect-ratio: 1/1;
  }

  .text-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  h3 {
    color: var(--main-color);
    font-size: 1.8rem;
  }

  h1 {
    font-size: 2.3rem;
    color: var(--secondary-color);
  }

  h2 {
    font-size: 2rem;
    color: var(--main-color);
  }

  p {
    font-size: 17px;
    color: var(--main-color);
    font-weight: 600;
    line-height: 36px;
    letter-spacing: .3px;
  }

  strong {
    color: var(--secondary-color);
    font-weight: 700;
  }

  .btns-container {
    display: flex;
    gap: 15px;
  }

  a {
    border: none;
    background: none;
    width: 170px;
    height: 55px;
    border-radius: 15px;
    font-size: 19px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .download-btn {
    border-radius: 15px;
    background-color: var(--secondary-color);
    color: white;
    text-decoration: none;
    transition: all .2s;
  }

  .contact-btn {
    border: 4px solid var(--main-color);
    color: var(--main-color);
    font-weight: 600;
    transition: background .2s;
  }

  body.dark-theme .download-btn a {
    color: var(--main-color);
  }

  @media screen and (min-width: 1200px) {
    section {
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-top: 70px;
      min-height: calc(100vh - 70px);
      padding: 50px var(--desktop-padding) !important;
    }

    .photo-section {
      align-items: center;
    }

    .photo-section img {
      height: 425px;
      flex: 1 1 0;
    }

    .text-section {
      justify-content: center;
      width: 500px;
      gap: 15px;
    }

    p {
      margin-top: -10px;
    }

    .download-btn:hover {
      background-color: rgba(164, 134, 245, 0.835)
    }

    .contact-btn:hover {
      border: none;
      background-color: var(--main-color);
      color: var(--third-color);
    }
  }

  @media screen and (min-width: 1400px) {
    section {
      padding: 50px var(--lg-desktop-padding) !important;
    }
  }

  @media screen and (min-width: 1650px) {
    section {
      padding: 100px var(--xl-desktop-padding) !important;
    }
  }
</style>