---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
		@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
	:root {
		--mobile-padding: 15px;
    --dark-purple: #140035;
    --light-purple: #683CE2;
    --light-white: #F9F9F9;
    --white: #fff;
    --nav-link-text: #BDBDBDD6;
    --dark-card-bg: #2B154D;
    --dark-card-text: rgba(20, 0, 53, 0.77);
    --light-card-text: #E3E1E4;
	}
  * {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
</style>
