---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
	:root {
		--mobile-padding: 15px;
		--desktop-padding: 100px;
		--lg-desktop-padding: 200px;
		--xl-desktop-padding: 325px;
    --main-color: #22144A;
    --secondary-color: #683CE2;
    --third-color: #F9F9F9;
    --fourth-color: #fff;
    --nav-link-text: #BDBDBDD6;
    --card-bg: #F9F9F9;
    --card-text: rgba(20, 0, 53, 0.77);
	}

	body.dark-theme {
		--main-color: #f9f9f9;
		--third-color: #22144A;
		--fourth-color: #200a40;
		--card-bg: #2b1c55;
		--card-text: #E3E1E4;
	}
  * {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
		box-sizing: border-box;
		letter-spacing: 0.3px;
  }
</style>